/* ThingDetailComponent's private CSS styles */
div {
    color: orange;
    background-color: #3f525c;
    padding: 5px;
    margin-top: 20px;
}

button {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Arial;
    font-weight: bold;
    /* background-color: #eee; */
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
  background-color: orange;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
