<div id="search-component">
    <h4>
        <label for="search-box">Searcg for Favorite Things</label>
    </h4>

    <input #searchBox id="search-box" (input)="search(searchBox.value)" />

    <ul class="search-result">
        <li *ngFor="let thing of things$ | async" >
        <!-- *ngFor can't do anything with an Observable, use the pipe character (|) followed by async.
        This identifies Angular's AsyncPipe and subscribes to an Observable automatically, you won't have to do so in the component class. -->
            <a routerLink="/detail/{{thing.id}}">
                {{thing.name}}
            </a>
        </li>
    </ul>
</div>
